<a href="{{ card_collection.url }}" class="special-categories__item">
    <img src="{{ card_collection.featured_image | img_url: '119x119' }}" alt="{{ card_collection.title }}" class="special-categories__item-pic">
    <span class="special-categories__item-title">{{ card_collection.title }}</span>
</a>
