<a href="{{ card_collection.url }}" class="special-categories__item">
  <img loading="lazy" src="{{ card_collection.featured_image | img_url: '476x476' }}" alt="{{ card_collection.title }}" class="special-categories__item-pic">
  <span class="special-categories__item-title">{{ card_collection.title }}</span>
</a>