<section class="special-list {% if section.settings.show-bottom-border %}special-list_with-border{% endif %}">
    <div class="special-list__title">{{ section.settings.title }}  — <a href="{{ section.settings.collection.url }}">All</a></div>
    <div class="special-list__items">
        {%- for product in section.settings.collection.products limit: 6 -%}
          {% render 'card-featured-collection', product: product, %}
        {%- endfor -%}
        <div class="special-list__item-dummy"></div>
        <div class="special-list__item-dummy"></div>
        <div class="special-list__item-dummy"></div>
        <div class="special-list__item-dummy"></div>
        <div class="special-list__item-dummy"></div>
    </div>
      <div class="special-list-mobile owl-carousel">
        {%- for product in section.settings.collection.products -%}
          {% render 'card-featured-collection', product: product, %}
        {%- endfor -%}
      </div>
</section>


{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "checkbox",
      "id": "show-bottom-border",
      "label": "Show bottom border"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
