<section class="special-jumbotron" {% if section.settings.image != blank %}style="background-image: url('{{ section.settings.image | image_url }}')"{% else %}style="background-image: url('{{ 'jumbotron.png' | asset_url }}')"{% endif %}>
  {% if section.settings.iframe %}
     {{ section.settings.iframe }}
  {% endif %}
    <h1 class="special-jumbotron__text">{% if section.settings.text != blank %}{{  section.settings.text }}{% endif %}</h1>
</section>

{% schema %}
{
  "name": "Banner settings",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "text",
      "id": "text",
      "default": "Image banner text",
      "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
    },
    {
      "type": "textarea",
      "id": "iframe",
      "label": "iframe"
    }
  ],
  "presets": [
    {
      "name": "Banner settings"
    }
  ]
}
{% endschema %}
