
<h1>INFO PAGE</h1>

{% schema %}
{
    "name": "info-page",
    "tag": "section",
    "class": "section",
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "text"
        }
    ],
    "presets": [
        {
            "name": "info-page",
            "settings": {
                "title": "info-page",
                "text": ""
            }
        }
    ]
}
{% endschema %}
