
<div class="special-info">
  {{  page.content  }}
</div>


{% schema %}
{
    "name": "returns",
    "tag": "section",
    "class": "section",
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "text"
        }
    ],
    "presets": [
        {
            "name": "returns",
            "settings": {
                "title": "returns",
                "text": ""
            }
        }
    ]
}
{% endschema %}
