/* ----------------------------------------------------------
    HTML5 Reset :: style.css
    ----------------------------------------------------------
    We have learned much from/been inspired by/taken code where offered from:

    Eric Meyer                  :: http://meyerweb.com
    HTML5 Doctor                :: http://html5doctor.com
    and the HTML5 Boilerplate   :: http://html5boilerplate.com

------------------------------------------------------------------------------- */
/* Let's default this puppy out
------------------------------------------------------------------------------- */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}
/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}
/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
     In fact, it *will* cause problems with Google Maps' controls at small size.
    If this is the case for you, try uncommenting the following:

#map img {
        max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
/* we use a lot of ULs that aren't bulleted.
    don't forget to restore the bullets within content. */
ul {
  list-style-type: none;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font: 100%;
  font-size: inherit;
}
th {
  font-weight: 900;
  vertical-align: bottom;
}
td {
  font-weight: normal;
  vertical-align: top;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}
input,
select {
  vertical-align: middle;
}
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}
select,
input,
textarea {
  font: 99% sans-serif;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
small {
  font-size: 85%;
}
strong {
  font-weight: 900;
}
td,
td img {
  vertical-align: top;
}
/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
/* hand cursor on clickable elements */
.clickable,
label,
input[type="button"],
input[type="submit"],
input[type="file"],
button {
  cursor: pointer;
}
/* make buttons play nice in IE */
button,
input[type="button"] {
  width: auto;
  overflow: visible;
}
/* scale images in IE7 more attractively */
/* .ie7 img {
  -ms-interpolation-mode: bicubic;
} */
/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix::before,
.clearfix::after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
body {
  background: #F3F3F3 !important;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
#shopify-section-header {
  z-index: 3;
}
#MainContent {
  z-index: 1;
}
#shopify-section-footer {
  margin-top: auto;
}
.special-menu {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #fff;
  padding: 0 15px;
  background: #F3F3F3;
}
.special-menu__logo {
  display: block;
  font-size: 0;
}
@media (min-width: 768px) {
  .special-menu__logo img {
    margin-left: 53px;
  }
}
.special-menu__items_desktop {
  font-size: 0;
  display: none;
}
@media (min-width: 1024px) {
  .special-menu__items_desktop {
    display: block;
  }
}
.special-menu__items_mobile a {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .special-menu__items_mobile {
    display: none;
  }
}
.special-menu__item {
  margin-left: 28px;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 50px;
  text-transform: uppercase;
  color: #111111;
  text-decoration: none;
}
.special-menu__item:first-child {
  margin-left: 0;
}
.special-categories {
  display: none;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}
@media (min-width: 1220px) {
  .special-categories {
    display: flex;
  }
}
.special-categories-mobile {
  overflow: hidden;
  height: 118px;
}
@media (min-width: 1220px) {
  .special-categories-mobile {
    display: none !important;
  }
}
.special-categories__item {
  display: inline-block;
  padding-top: 11px;
  width: 80px;
  height: 118px !important;
  background: #F3F3F3;
  position: relative;
  border-right: 1px solid #fff !important;
}
@media (min-width: 1220px) {
  .special-categories__item {
    display: block;
    width: auto;
    height: auto !important;
    max-width: 320px;
    min-width: 100px;
    flex-grow: 1;
    aspect-ratio: 0.75796178;
    flex: 1 1 0px;
    border-right: 1px solid #fff;
  }
}
.special-categories__item:last-child {
  border-right: none;
}
.special-categories__item-pic {
  display: block;
  margin: 0 auto;
  width: 77% !important;
}
@media (min-width: 1620px) {
  .special-categories__item-pic {
    width: 88%;
  }
}
.special-categories__item-title {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-align: center;
  color: #000000;
  text-transform: capitalize;
}
.special-menu__mobile {
  display: none;
  padding-top: 150px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(243, 243, 243, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.special-menu__mobile-bag {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.special-menu__mobile-close {
  position: absolute;
  top: 15px;
  left: 15px;
}
.special-menu__mobile-link-big {
  display: block;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  text-decoration: none;
  margin-bottom: 30px;
}
.special-menu__item_socials {
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 88px;
  margin: 0 auto;
  width: 259px;
  height: 39px;
  justify-content: space-around;
  align-items: center ;
}
.special-menu__item-social {
  font-size: 0;
}
.special-menu__item_links {
  display: flex;
  position: absolute;
  bottom: 60px;
  right: 0;
  left: 0;
  margin: auto;
  width: 281px;
  justify-content: space-between;
}
.special-menu__item_links-link {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-decoration-line: underline;
  color: #111111;
}
.special-jumbotron {
  position: relative;
  padding-top: 123%;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .special-jumbotron {
    padding-top: 50%;
  }
}
.special-jumbotron iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.special-jumbotron__pic {
  width: 100%;
}
.special-jumbotron__text {
  position: absolute;
  left: 15px;
  bottom: 30px;
  font-family: 'Expressa-Bold';
  font-style: normal;
  font-weight: 200;
  font-size: 33px;
  line-height: 33px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.special-list_with-border {
  border-bottom: 1px solid #fff;
}
.special-list__title {
  padding: 18px 15px 19px;
  border-bottom: 1px solid #fff;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  color: #000000;
}
.special-list__title a {
  color: #000000;
}
.special-list__items {
  display: none;
}
@media (min-width: 768px) {
  .special-list__items {
    display: flex;
    flex-wrap: wrap;
  }
}
.special-list-mobile {
  height: 274px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .special-list-mobile {
    display: none !important;
    height: auto;
  }
}
.special-list__item {
  position: relative;
  display: inline-block !important;
  width: 150px;
  height: 274px !important;
  padding-top: 10px;
  border-right: 1px solid #fff;
}
@media (min-width: 768px) {
  .special-list__item {
    width: 16.6%;
    height: auto !important;
    padding-top: 26%;
    aspect-ratio: 0.61917098;
    flex-grow: 1;
    max-width: 16.66%;
  }
}
.special-list__item-dummy {
  display: block !important;
  width: 150px;
  flex-grow: 1;
  border-right: 1px solid #fff;
}
@media (min-width: 768px) {
  .special-list__item-dummy {
    width: 16.66%;
    flex-grow: 1;
    max-width: 16.66%;
  }
}
@media (min-width: 1024px) {
  .special-list__item:last-child {
    border-right: none;
  }
}
.special-list__item-pic {
  display: block;
  margin: 0 auto;
  width: 85% !important;
  max-width: 239px;
}
@media (min-width: 768px) {
  .special-list__item-pic {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 71% !important;
    max-width: unset;
  }
}
@media (min-width: 1024px) {
  .special-list__item-pic {
    width: 77% !important;
  }
}
@media (min-width: 1220px) {
  .special-list__item-pic {
    width: 85% !important;
  }
}
.special-list__item-info {
  position: absolute;
  bottom: 11px;
  left: 15px;
}
.special-list__item-info-text {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  color: #000000;
}
.special-bar-with-text {
  position: relative;
  height: 230px;
  background: linear-gradient(90deg, #DE4019 -0.57%, #4EB6B7 100.27%);
}
.special-bar-with-text__text {
  position: absolute;
  bottom: 30px;
  left: 15px;
  font-family: 'Expressa-Bold';
  font-style: normal;
  font-weight: 200;
  font-size: 23px;
  line-height: 23px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.special-footer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  max-width: 400px;
  align-items: center;
  margin: 0 auto;
  border-top: 1px solid #fff;
  background: #F3F3F3;
}
@media (min-width: 1024px) {
  .special-footer {
    flex-direction: row;
    max-width: unset;
  }
}
.field__label {
  font-size: 9px;
}
.special-footer__input-wrapper {
  position: relative;
}
.special-footer__item_input {
  width: 100%;
}
@media (min-width: 1024px) {
  .special-footer__item_input {
    width: auto;
  }
}
.special-footer__input {
  width: 100%;
  height: 39px;
  background: rgba(229, 229, 229, 0.5);
  border-radius: 3px;
  border: 0;
  padding-left: 13px;
  margin: 0;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 39px;
  text-transform: uppercase;
  color: #6E6E6E;
  text-align: center;
}
@media (min-width: 1024px) {
  .special-footer__input {
    flex-direction: row;
    width: 345px;
    margin-bottom: 0;
    text-align: left;
  }
}
.special-footer__input:focus {
  border: 0 !important;
  outline: none !important;
}
.special-footer__input::focus-visible {
  border: 0 !important;
  outline: none !important;
  box-shadow: none;
}
.newsletter-form__button.field__button {
  transform: scale(0.5);
  z-index: 0;
}
@media (min-width: 1024px) {
  .newsletter-form__button.field__button {
    display: none;
  }
}
.form__message {
  margin-top: 0;
  font-size: 12px;
}
.special-footer__input::placeholder {
  color: #6E6E6E;
}
.newsletter-form__field-wrapper {
  position: relative;
}
.special-footer__item_socials {
  margin-bottom: 15px;
  font-size: 0;
}
@media (min-width: 1024px) {
  .special-footer__item_socials {
    margin-bottom: 0;
    margin-left: 30px;
  }
}
.newsletter-form__message {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  top: 0;
  left: 0;
  z-index: 5;
}
@media (min-width: 1024px) {
  .newsletter-form__message {
    left: 13px;
  }
}
.newsletter-form__message.newsletter-form__message--success {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  top: 0;
  margin-top: 0;
  left: 0;
  z-index: 5;
}
@media (min-width: 1024px) {
  .newsletter-form__message.newsletter-form__message--success {
    left: 13px;
  }
}
.special-footer__item-social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  margin-right: 5px;
}
.special-footer__item-social:last-child {
  margin-right: 0px;
}
.special-footer__item-links {
  display: flex;
  flex-wrap: wrap;
  width: 295px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1024px) {
  .special-footer__item-links {
    width: auto;
    margin-left: auto;
    margin-bottom: 0;
  }
}
.special-footer__item-link {
  margin-right: 20px;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-decoration-line: underline;
  color: #111111;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .special-footer__item-link {
    margin-bottom: 0;
  }
}
.special-footer__item-link:last-child {
  margin-right: 0px;
}
.special-product-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  border-bottom: 1px solid #fff;
}
.special-product-controls__selected-filter {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-transform: uppercase;
  color: #000000;
}
.special-product-controls__filters {
  display: flex;
  align-items: center;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}
.special-product-controls__filters h1 {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: normal;
}
.special-product-controls__filters img {
  margin-left: 9px;
}
.special-product-controls__menu {
  display: none;
  position: fixed;
  top: 50px;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 57px 15px 0 15px;
  background: rgba(243, 243, 243, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 5;
  overflow: scroll;
}
@media (min-width: 768px) {
  .special-product-controls__menu {
    top: 50px;
    right: 0;
    width: 33vw;
    height: calc(100vh - 50px);
  }
}
@media (min-width: 1024px) {
  .special-product-controls__menu {
    width: 50vw;
  }
}
.special-product-controls__menu-close {
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
}
.special-product-controls__menu-categories {
  display: flex;
  flex-wrap: wrap;
  padding-right: 39px;
  gap: 5px;
  margin-bottom: 40px;
}
.special-product-controls__menu-categories-item {
  padding: 13px;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #000000;
  cursor: pointer;
}
.special-product-controls__menu-categories-item_active {
  background: #FFFFFF;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.13);
  border-radius: 30px;
}
.special-product-controls__menu-colors {
  display: flex;
  flex-wrap: wrap;
  padding-right: 39px;
  gap: 5px;
  margin-bottom: 40px;
}
.special-product-controls__menu-colors-item {
  display: flex;
  position: relative;
  align-items: center;
  padding: 16px 13px 13px 30px;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #000000;
  cursor: pointer;
}
.special-product-controls__menu-colors-item-color {
  display: inline-block !important;
  position: absolute;
  margin: auto;
  left: 13px;
  top: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.special-product-controls__menu-colors-item-color_active {
  background: #FFFFFF;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.13);
  border-radius: 30px;
}
.special-product-controls__menu-colors-item-color_black {
  background: #000;
}
.special-product-controls__menu-colors-item-color_white {
  background: #fff;
  border: 1px solid #CCCCCC;
}
.special-product-controls__menu-colors-item-color_grey {
  background: #000;
}
.special-product-controls__menu-colors-item-color_blue {
  background: #0000FF;
}
.special-product-controls__menu-colors-item-color_brown {
  background: #894A00;
}
.special-product-controls__menu-colors-item-color_pink {
  background: #FF00FF;
}
.special-product-controls__menu-colors-item-color_green {
  background: #00FF00;
}
.special-product-controls__menu-colors-item-color_yellow {
  background: #FFFF00;
}
.special-product-controls__menu-colors-item-color_orange {
  background: #FF8A00;
}
.special-product-controls__menu-colors-item-color_purple {
  background: #AD00FF;
}
.special-product-controls__menu-colors-item-color_red {
  background: #FF0000;
}
.special-product-controls__menu-apply {
  width: calc(100% - 30px);
  background: #FFFFFF;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.13);
  border-radius: 30px;
  padding: 13px 0;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  cursor: pointer;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .special-product-controls__menu-apply {
    position: static;
    width: 100%;
  }
}
.special-product-wall {
  display: flex;
  flex-wrap: wrap;
  background: #F3F3F3;
  margin-bottom: -1px;
}
.special-product-wall__item {
  display: block;
  position: relative;
  width: 50%;
  padding-top: 82%;
  flex-grow: 1;
  background: #F3F3F3;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  flex-grow: 0;
}
@media (min-width: 768px) {
  .special-product-wall__item {
    padding-top: 48%;
    width: 33%;
  }
}
@media (min-width: 1024px) {
  .special-product-wall__item {
    padding-top: 36%;
    width: 25%;
  }
}
.special-product-wall__item:last-child {
  border-bottom: 0;
}
.special-product-wall__item_empty {
  padding: 50px 0;
  width: 100%;
  max-width: 100%;
  text-align: center;
}
.special-product-wall__item-dummy {
  display: block !important;
  width: auto;
  flex-grow: 1;
  background: #F3F3F3;
  width: 50%;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
@media (min-width: 768px) {
  .special-product-wall__item-dummy {
    width: 33%;
  }
}
@media (min-width: 1024px) {
  .special-product-wall__item-dummy {
    width: 25%;
  }
}
.special-product-wall__item-dummy:nth-of-type(2) {
  display: none !important;
}
@media (min-width: 768px) {
  .special-product-wall__item-dummy:nth-of-type(2) {
    display: block !important;
  }
}
.special-product-wall__item-dummy:nth-of-type(3) {
  display: none !important;
}
@media (min-width: 768px) {
  .special-product-wall__item-dummy:nth-of-type(3) {
    display: block !important;
  }
}
.special-product-wall__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;
  background: #F3F3F3;
}
.special-product-wall__item-pic {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: block;
  width: 100%;
  transition: visibility 0.3s, opacity 0.3s linear;
}
.special-product-wall__item-pic2 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  visibility: hidden;
  opacity: 0;
}
@media (min-width: 1024px) {
  .special-product-wall__item_with-hover:hover .special-product-wall__item-pic {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
  .special-product-wall__item_with-hover:hover .special-product-wall__item-pic2 {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }
  .special-product-wall__item_with-hover:hover .special-product-wall__item-buttons {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }
}
@media (min-width: 1024px) {
  .special-product-wall__item:hover .special-product-wall__item-buttons {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }
}
.special-product-wall__item-info {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.special-product-wall__item-text {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  display: flex;
  align-items: flex-end;
  color: #000000;
}
.special-product-wall__item-buttons {
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.special-product-wall__item-buttons div {
  display: inline-block;
}
.special-pdp {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-bottom: 1px solid #fff;
}
@media (min-width: 768px) {
  .special-pdp {
    flex-wrap: nowrap;
  }
}
.special-pdp__col1 {
  width: 100%;
  background: #F3F3F3;
}
@media (min-width: 768px) {
  .special-pdp__col1 {
    width: 50%;
    border-right: 1px solid #fff;
  }
}
.special-pdp__col2 {
  width: 100%;
  background: #F3F3F3;
}
@media (min-width: 768px) {
  .special-pdp__col2 {
    width: 50%;
  }
}
.special-pdp__pic__wrapper {
  display: none;
}
@media (min-width: 768px) {
  .special-pdp__pic__wrapper {
    display: block;
  }
}
.special-pdp-slider {
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 768px) {
  .special-pdp-slider {
    display: none !important;
  }
}
.special-pdp-slider.slick-initialized {
  visibility: visible;
  opacity: 1;
}
.special-pdp__pic {
  display: block;
  border-bottom: 1px solid #fff;
}
.special-pdp__pic img {
  display: block;
  margin: 0 auto;
  max-height: 80vh;
}
.special-pdp__pic:last-child {
  border-bottom: none;
}
.special-pdp-product {
  position: sticky;
  top: 50px;
  background: #fff;
}
.special-pdp-product__pic-wrapper {
  display: none;
  border-bottom: 1px solid #fff;
  background: #F3F3F3;
}
@media (min-width: 768px) {
  .special-pdp-product__pic-wrapper {
    display: block;
  }
}
.special-pdp-product__pic {
  display: block;
  max-height: 60vh;
  margin: 0 auto;
}
.special-pdp-product__pic-dummy {
  display: block !important;
  margin: 0 auto;
  height: 300px;
}
.special-pdp-product__info {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}
.special-pdp-product__info-block {
  padding: 15px;
  width: 100%;
  background: #F3F3F3;
}
@media (min-width: 768px) {
  .special-pdp-product__info-block {
    width: calc(50% - 1px);
  }
}
.special-pdp-product__info-block-text {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  color: #000000;
}
.special-pdp-product__info-block-text a {
  color: #000000 !important;
}
.special-pdp-product__info-controls {
  display: flex;
  width: 100%;
  padding: 15px;
  background: #F3F3F3;
}
@media (min-width: 768px) {
  .special-pdp-product__info-controls {
    width: 50%;
  }
}
.special-pdp-product__info-controls-form {
  width: 100%;
  flex: 1 1 0;
}
.special-pdp-product__info-controls-add-to-bag.loading .special-pdp-product__info-controls-form-loading {
  margin: 0 auto;
  width: 12px !important;
  height: 12px;
}
.special-pdp-product__info-controls-form-loading {
  margin: 0 auto;
  width: 12px !important;
  height: 12px;
}
.special-pdp-product__info-controls-add-to-bag {
  display: block;
  width: 100%;
  border: 0;
  padding: 13px;
  flex-grow: 1;
  background: #FFF;
  border-radius: 40px;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  cursor: pointer;
}
.special-pdp-product__info-controls-add-to-bag:hover {
  background: linear-gradient(90deg, #DE4019 -0.57%, #4EB6B7 100.27%);
  color: #fff;
}
.special-pdp-product__info-controls-go-to-bag {
  display: block;
  width: 100%;
  border: 0;
  padding: 13px;
  flex-grow: 1;
  background: linear-gradient(90deg, #DE4019 -0.57%, #4EB6B7 100.27%);
  border-radius: 40px;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.special-pdp-product__info-controls-add-to-bag.loading {
  display: flex;
  font-size: 0;
}
.special-pdp-product__info-controls-add-to-fav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 5px;
  cursor: pointer;
}
.special-pdp-product__info-controls-add-to-fav:hover path {
  fill: red;
}
.special-pdp-product__info-controls-add-to-fav_added path {
  fill: red;
}
.special-pdp-product__info-description {
  padding: 15px;
  background: #F3F3F3;
  width: 100%;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  color: #000000;
  order: 5;
}
@media (min-width: 768px) {
  .special-pdp-product__info-description {
    order: 3;
    width: calc(50% - 1px);
  }
}
.special-pdp-product__info-how {
  width: calc(50% - 1px);
  padding: 15px;
  background: #F3F3F3;
  order: 3;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  color: #000000;
}
.special-pdp-product__info-how a {
  position: relative;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-decoration-line: none;
  color: #000000;
}
.special-pdp-product__info-how a:after {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  content: '';
  background: #000;
  bottom: 0;
}
@media (min-width: 768px) {
  .special-pdp-product__info-how {
    order: 4;
    width: calc(25% - 1px);
  }
}
.special-pdp-product__info-how a:hover:after {
  background: rgba(0, 0, 0, 0.3);
}
.special-pdp-product__info-guide {
  width: calc(50%);
  padding: 15px;
  background: #F3F3F3;
  order: 4;
  font-size: 9px;
  line-height: 13px;
}
.special-pdp-product__info-guide a {
  position: relative;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-decoration-line: none;
  color: #000000;
}
.special-pdp-product__info-guide a:after {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  content: '';
  background: #000;
  bottom: 0;
}
@media (min-width: 768px) {
  .special-pdp-product__info-guide {
    width: calc(25%);
    order: 5;
  }
}
.special-pdp-product__info-guide a:hover:after {
  background: rgba(0, 0, 0, 0.3);
}
.special-bag {
  border-bottom: 1px solid #fff;
}
.special-bag-inner {
  max-width: 480px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  margin: 0 auto;
}
.special-bag__top-panel {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #fff;
}
.special-bag__top-panel-text {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-transform: uppercase;
  color: #000000;
}
.special-bag__top-panel-text2 {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  color: #000000;
}
.special-bag__top-panel-text2 a {
  color: #000000 !important;
}
.special-bag__info-panel {
  padding: 18px 15px;
  border-bottom: 1px solid #fff;
}
.special-bag__info-panel-text {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  color: #000000;
}
.special-bag__info-panel-text a {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  color: #000000;
  text-decoration: underline;
}
.special-bag__item {
  position: relative;
  display: flex;
  padding: 15px 15px 15px 0;
  border-bottom: 1px solid #fff;
}
.special-bag__item-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.special-bag__item-col1 {
  width: 124px;
}
.special-bag__item-pic {
  width: 100%;
}
.special-bag__item-col2 {
  flex-grow: 1;
}
.special-bag__item-info {
  margin-bottom: 15px;
}
.special-bag__item-info-text {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  color: #000000;
}
.special-bag__item-upload {
  padding: 13px;
  background: linear-gradient(90deg, #DE4019 -0.57%, #4EB6B7 100.27%);
  border-radius: 23px;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}
.special-bag__item-img-controls-remove {
  margin-bottom: 10px;
  text-decoration: underline;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-decoration-line: underline;
  color: #000000;
}
.special-bag__item-img-controls-widget {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 15px;
}
.special-bag__item-img-controls-widget-pic {
  width: 62px;
  z-index: 5;
}
.special-bag__item-img-controls-widget-textarea {
  flex-grow: 1;
  resize: none;
  border: 0;
  padding: 13px;
  background: rgba(227, 227, 227, 0.5);
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  color: #6E6E6E;
}
.special-bag__item-img-controls-widget-textarea:focus {
  outline: none;
}
.special-bag__promo-panel {
  display: flex;
  justify-content: space-between;
  padding: 18.5px 13px 18.5px 15px;
  border-bottom: 1px solid #fff;
}
.special-bag__promo-panel-text {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-transform: uppercase;
  color: #000000;
}
.special-bag__promo-panel-plus {
  cursor: pointer;
}
.special-bag__upload-panel {
  padding: 15px;
}
.special-bag__upload-panel-btn {
  display: block;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 13px;
  background: linear-gradient(90deg, #DE4019 -0.57%, #4EB6B7 100.27%);
  border-radius: 40px;
  outline: none;
  border: 0;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}
.special-bag__upload-panel-btn-active {
  background: linear-gradient(90deg, #DE4019 -0.57%, #4EB6B7 100.27%);
}
.cart__warnings {
  padding: 50px 15px !important;
}
.cl-upload--input-field {
  margin-bottom: 0 !important;
  height: 100%;
}
.cl-upload--input-field textarea {
  height: 100%;
  resize: none;
  border: 0;
  padding: 13px;
  background: rgba(227, 227, 227, 0.5);
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  color: #6E6E6E;
}
.cl-upload--input-field textarea:focus-visible {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}
.filepond--drop-label label {
  font-family: 'Azeret Mono' !important;
  font-size: 9px!important;
}
.wishlist-button {
  margin-top: 15px;
  background: linear-gradient(90deg, #DE4019 -0.57%, #4EB6B7 100.27%) !important;
}
.goto-cart-button {
  margin-top: 15px;
  display: none;
  background: linear-gradient(90deg, #DE4019 -0.57%, #4EB6B7 100.27%);
}
#empty {
  display: none;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.slick-prev.slick-arrow {
  position: absolute;
  z-index: 1;
  left: 16px;
  top: 50%;
  background: transparent;
  border: 0;
  color: transparent;
}
.slick-prev.slick-arrow:after {
  position: absolute;
  display: block;
  width: 11px;
  height: 6px;
  content: '';
  background: url(https://i.ibb.co/QvNh1WX/next.png);
  top: 1px;
  left: 0;
  transform: scaleX(-1);
  background-repeat: no-repeat;
  background-size: contain;
}
.slick-next.slick-arrow {
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 50%;
  background: transparent;
  border: 0;
  color: transparent;
}
.slick-next.slick-arrow:after {
  position: absolute;
  display: block;
  width: 11px;
  height: 6px;
  content: '';
  background: url(https://i.ibb.co/QvNh1WX/next.png);
  top: 1px;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.special-info {
  padding: 30px 15px;
  max-width: 480px;
  margin: 0 auto;
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: -0.03em;
  color: #000000;
}
.cart__footer-wrapper {
  display: none;
}
#cart-loading {
  margin: 50px auto;
  margin: 100px auto;
  display: block;
  width: 10%;
}
#MainContent {
  flex: 1 1 0;
}
.theme-night {
  display: none !important;
}
.image-guide-title {
  padding: 30px 0;
  border-bottom: 1px solid #fff;
}
.image-guide-logo {
  display: block;
  margin: 0 auto 10px;
}
.image-guide-text {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.image-guide-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .image-guide-wrapper {
    flex-direction: row;
  }
}
.image-guide-item {
  position: relative;
  padding-top: 159%;
  border-bottom: 1px solid #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1024px) {
  .image-guide-item {
    width: 25%;
    padding-top: 41.6%;
    border-right: 1px solid #fff;
  }
}
@media (min-width: 1024px) {
  .image-guide-item:last-child {
    border-right: none;
  }
}
.image-guide-item-info {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  margin: auto;
}
.image-guide-item-title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.image-guide-item-text {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 345px;
}
.footer-wrapper {
  background: #F3F3F3;
}
.special-product-wall__item-buttons-wishlist__in-wishlist path {
  fill: red;
}
.special-product-wall__item-buttons-bag {
  display: inline-flex !important;
  height: 39px;
  width: 39px;
  justify-content: center;
  align-items: center;
}
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav {
  margin-top: 10px;
}
.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  transition: height 0.5s ease-in-out;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 0.1s ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav {
  margin-top: 10px;
}
.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
.special-pdp__pic__wrapper-mobile {
  border-bottom: 1px solid #fff;
}
@media (min-width: 768px) {
  .special-pdp__pic__wrapper-mobile {
    display: none;
  }
}
.special-pdp__pic__wrapper-mobile iframe {
  height: 60vh !important;
}
.special-ultrabanner {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .special-ultrabanner {
    flex-direction: row;
    justify-content: space-between;
  }
}
.special-ultrabanner-slide {
  position: relative;
  display: block;
  height: 60vh;
  width: 100%;
  background-size: cover !important;
  background: linear-gradient(90deg, #DE4019 -0.57%, #4EB6B7 100.27%);
  border-bottom: 1px solid #fff;
}
@media (min-width: 768px) {
  .special-ultrabanner-slide {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .special-ultrabanner-slide:first-child {
    border-right: 1px solid #fff;
  }
}
.special-ultrabanner-slide-text {
  position: absolute;
  bottom: 30px;
  left: 15px;
  font-family: 'Expressa-Bold';
  font-style: normal;
  font-weight: 200;
  font-size: 23px;
  line-height: 23px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.special-ultrabanner-slide-dummy {
  display: none;
}
@media (min-width: 768px) {
  .special-ultrabanner-slide-dummy {
    display: block;
    width: 50%;
    height: 60vh;
  }
}

